// Colors
$primary-color: #39cdcc;
$text-color: #545f7d;
$heading-color: #213f7d;
$background-color: #ffffff;


// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Fonts
$font-family: var(--font-avenir-next), sans-serif;

