@use "@/styles/variables" as *;

.sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  width: 283px;
  height: auto;
  align-self: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; /* to make z-index work */
  z-index: 10; 
  flex-shrink: 0; 
  border-right: none;
  box-shadow: 0px 5px 20px 0px #0000000A;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0px 5px 20px 0px #0000000A;
  }
  scrollbar-width: thin;
  scrollbar-color: #cfd8dc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #cfd8dc;
    border-radius: 10px;
    border-right: none;
  }

  @media (max-width: 768px) {
    position: fixed;
    z-index: 50;
    height: 100%;
    box-shadow: 0px 5px 20px 0px #0000000A;
  }
}

.logo {
  padding: 0 1.75rem;
  margin-bottom: 2rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  width: 283px;
  gap: 7.5px;
}



.sectionLabel {
  font-size: 0.75rem;
  font-weight: 500;
  color: $text-color;
  margin: 1rem 2rem 0.5rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $text-color;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 1.875rem;
  opacity: 0.6;
  font-family: var(--font-work-sans);
  cursor: pointer;
  position: relative;
  transition: 
    background-color 0.25s ease,
    color 0.25s ease,
    transform 0.2s ease,
    opacity 0.25s ease;

  &:hover {
    background-color: rgba(57, 205, 204, 0.1);
    color: $heading-color;
    opacity: 1;
    transform: translateX(4px); /* slightly slide to the right on mouse over*/
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease;
  }

  &:hover .icon {
    transform: scale(1.1); /* this is to make d icon pop a bit */
  }

  .dropdownIcon {
    opacity: 0.9;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  &:hover .dropdownIcon {
    opacity: 1;
    transform: rotate(180deg); /* rotating d arrow for dropdown on mous over */
  }
}

.hrm {
  border: none;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #e5e7eb; /* light gray */
  color: $heading-color;
  margin: 1.5rem 0;
}

.cologout {
  color: $heading-color !important;
}

.v2 {
  color: $heading-color !important;
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-work-sans);
}

.navItem:first-child {
  opacity: 1;
}

.word {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.topMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   /* no space-between */
  gap: 24px;                     /* creates even spacing between navItems */
  width: 100%;
}

.active {
  color: $heading-color;
  background-color: rgba(57, 205, 204, 0.08);
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  transform: translateX(4px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: $primary-color;
  }
}

/* this is for Mobile Sidebar Togle */
.sidebarToggle {
  display: none;
  position: fixed;
  bottom: 3.4rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  z-index: 100;
  cursor: pointer;

  img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(300%) hue-rotate(130deg);
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

/* For MOBILE SIDEBAR BEHAVIOR */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    background: #fff;
    transition: left 0.3s ease-in-out;
  }

  .sidebar.open {
    left: 0;
  }
}
