@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  overflow-x: hidden;
  overflow-y: visible;
}

.body {
  display: flex;
  flex: 1;
  align-items: stretch;
  background: #fbfbfb;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fbfbfb;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.content {
  flex: 1;
  overflow-y: auto;
  background: #fbfbfb;
  overflow: visible;
}
