@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #fbfbfb;
}

.main {
  flex: 1;
  overflow-y: auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  background: #fbfbfb;
}

