.dashboardStats {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.2rem 1.3rem 0;
  font-family: var(--font-work-sans);

  .title {
    color: #213f7d;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-work-sans);
    margin-top: 16px;
  }

  .cardsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
